# Dependencies & Build outputs
node_modules/
__pycache__/
*.pyc
.env
build/
dist/
.dart_tool/
.flutter-plugins
apps/mobile/flutter/android/local.properties
apps/mobile/flutter/android/.gradle/
.idea/
.vscode/
